termux-setup-storage && pkg update -y && pkg upgrade -y && pkg install python -y && pkg install git -y && pip install --upgrade pip
psutil
requests
PyJWT
urllib3
aiohttp
flask
pycryptodome
protobuf
google-play-scraper
pytz
pyfiglet